%h1 Listing tickets

%table
  %thead
    %tr
      %th Name
      %th Slug
      %th

  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= link_to "#{ticket.slug} - #{ticket.name}", ticket
        %td= ticket.slug
        %td= link_to 'Edit', [:edit, ticket]

%p= link_to 'New Ticket', [:new_ticket]
