%h1 New ticket

= form_for [:publish, @ticket] do |f|
  - if @ticket.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ticket.errors.count, "error")} prohibited this ticket from being saved:"
      %ul
        - @ticket.errors.full_messages.each do |message|
          %li= message

  %p.field
    = f.label :name
    = f.text_field :name
  %p.field
    = f.label :category_id
    = f.select :category_id, Category.tickets.collect{ |c| [c.name, c.id] }, prompt: 'Select category…'
  %p.actions
    = f.submit 'Save'

= link_to 'Back', :tickets
