%p#notice= notice

%p
  %b Name:
  = @ticket.name
%p
  %b Slug:
  = @ticket.slug

- if @ticket.category_id.present?
  %p
    %b Category:
    = @ticket.category.name

= link_to 'Edit', [:edit, @ticket]
\|
= link_to 'Back', :tickets
