= title @ticket.name

%p#notice= notice

%h1
  = @ticket.name

%p
  %b= @ticket.slug.upcase
  \|
  = link_to @ticket.author.name, @ticket.author
  created this on
  = @ticket.created_at.to_s(:short)
  \|
  = @ticket.state
  \|
  = link_to 'Edit', [:edit, @ticket]
  \|
  - if @ticket.open?
    = button_to 'Close', [:close, @ticket], method: :post
  - else
    = button_to 'Reopen', [:reopen, @ticket], method: :post

= render @ticket.memos.published

= form_with model: [@ticket, @ticket.draft_note] do |f|
  %p= f.text_area :body, required: true
  %p= f.submit 'Add note', name: 'publish', id: 'submit_publish'
