= form_with model: domain do |form|
  - display_form_errors(form.object)

  %p
    = form.label :slug, style: 'display: block'
    = form.text_field :slug, { disabled: @domain.persisted? }
  %p
    = form.label :name, style: 'display: block'
    = form.text_field :name
  %p
    = form.submit
