= title 'Edit Domain'

%p
  «
  = link_to 'domains', :domains
  \/
  = link_to 'show', @domain

= render 'form', domain: @domain

%p
  %b{ style: 'color:red;' } DO NOT DELETE UNLESS YOU MEAN IT
  %br
  = button_to 'Destroy this domain', @domain, method: :delete

