= title "Domain: #{@domain.name}"

%p
  «
  = link_to 'domains', :domains
  \/
  = link_to 'edit', [:edit, @domain]
  \/
  = link_to 'delete', [:delete, @domain]

%p
  %b Name
  %br
  = @domain.name

%p
  %b Slug
  %br
  = @domain.slug
