%h1 Listing cards

%table
  %thead
    %tr
      %th Name
      %th Slug
      %th Email
      %th Role

  %tbody
    - @cards.each do |card|
      %tr
        %td= link_to card.name, card
        %td= card.slug
        %td= card.email
        %td= card.role


%p= link_to 'New card', [:new_card]
