%p#notice= notice

%p
  %b Name:
  = @card.name

%p
  %b Slug:
  = @card.slug

%p
  %b Email:
  = @card.email

%p
  %b Role:
  = @card.role

- if @card.category_id.present?
  %p
    %b Category:
    = @card.category.name

= link_to 'Edit', [:edit, @card]
\|
= link_to 'Back', :cards
