= form_with model: category do |f|
  - display_form_errors(f.object)

  %p.field
    = f.label :name
    = f.text_field :name
  %p.field
    = f.label :slug
    = f.text_field :slug
  %p.field
    = f.label :kind
    = f.select :kind, Category::KINDS, include_blank: true
  %p.actions
    = f.submit 'Save'
