%h1 Listing categories

%table
  %thead
    %tr
      %th Name
      %th Slug
      %th Kind
      %th
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= category.slug
        %td= category.kind
        %td= link_to 'Show', category
        %td= link_to 'Edit', [:edit, category]
        %td= button_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }

%p= link_to 'New Category', [:new_category]
