%p
  = link_to '<b>RTable</b>'.html_safe, '/'
  \|
  = link_to 'cards', :cards
  \|
  = link_to 'tickets', :tickets
  \|
  = link_to 'categories', :categories

  - if can? :index, User
    \|
    = link_to 'users', :users

  \|
  = link_to 'logout', destroy_session_path, data: { turbo_method: :delete }
