!!!
%html
  %head
    %title= content_for?(:title) ? "RTable: #{yield(:title)}" : 'RTable'
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }
    = csrf_meta_tags
    = csp_meta_tag

    :css
      body {
        font-family: sans-serif;
        margin: 24px;
      }

  %body
    %h1= content_for?(:title) ? yield(:title) : 'RTable'

    %p
      %mark= notice

    = yield

