= title 'Edit Account'

%p
  «
  = link_to 'accounts', :accounts
  \/
  = link_to 'show', @account

= render 'form', account: @account

%p
  %b{ style: 'color:red;' } DO NOT DELETE UNLESS YOU MEAN IT
  %br
  = button_to 'Destroy this account', @account, method: :delete

