= title "Account: #{@account.name}"

%p
  «
  = link_to 'accounts', :accounts
  \/
  = link_to 'edit', [:edit, @account]

%p
  %b Name
  %br
  = @account.name

%p
  %b Slug
  %br
  = @account.slug

-# <%= render @account %>

-# <div>
-#   <%= link_to "Edit this account", edit_account_path(@account) %> |
-#   <%= link_to "Back to accounts", accounts_path %>

-#   <%= button_to "Destroy this account", @account, method: :delete %>
-# </div>
